body[data-scroll="active"] * *,
.thumb:active {
  cursor: grabbing;
  user-select: none;
}
body[data-scroll="active"] .thumb[data-scroll="active"],
.thumb:hover,
.thumb:active {
  background-color: hsl(var(--muted-foreground));
}
.thumb {
  position: absolute;
  transition-property: background-color, width, transform, right, bottom;
  transition-duration: 300ms;
  z-index: 9999;
  cursor: grab;
}
.scroll-content:hover .thumb,
.scroll-content:hover ~ .thumb {
  background-color: hsl(var(--muted));
}
.thumb[data-overflow="y"]:hover,
.thumb[data-overflow="y"]:active {
  transform: scaleX(1.5);
}
.thumb[data-overflow="x"]:hover,
.thumb[data-overflow="x"]:active {
  transform: scaleY(1.5);
}
