[data-anim="DoubleHelix"] {
  & > * {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--gap, 8px);
    position: absolute;
    user-select: none;

    & * {
      transform: translateY(calc(sin(var(--angle)) * var(--distance, 100px))) scale(calc(cos(var(--angle)) * 0.5 + 0.5));
      animation: spiral var(--speed, 4s) linear infinite;
      user-select: none;
    }
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes spiral {
  0% {
    --angle: 0deg;
  }
  50% {
    opacity: 0;
  }
  100% {
    --angle: 360deg;
  }
}
