body.scrollbar-space {
  --scrollbar-space: 17px;
}

.embeded-image {
  cursor: zoom-in;
}
.popup-figure,
.image-popup-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all var(--duration) ease 0ms;
}

.popup-figure {
  position: fixed;
  z-index: 9999;
}
.image-popup-overlay {
  position: absolute;
  cursor: zoom-out;
  background-image: linear-gradient(
    to bottom,
    var(--overlay-bg-from, #0000),
    var(--overlay-bg-to, hsl(var(--pure-black) / 0.4))
  );
}

.image-popup {
  border-radius: var(--radius);
  height: auto;
  width: auto;
  max-width: 95dvw !important;
  max-height: 95dvh !important;
  z-index: 999 !important;
  background-color: var(--img-bg);
  position: relative;
  vertical-align: middle;
  object-fit: contain;
  transform-origin: 0px 0px;
  transition: all var(--duration) ease;
  --img-bg: #e5e5e5;
}

.image-popup[data-state="open"] {
  animation: var(--duration) cubic-bezier(0.5, 0, 0.25, 1) 0s 1 normal forwards running zoom-in;
  --scale-ratio: 1;
}
.image-popup[data-state="closed"] {
  animation: var(--duration) cubic-bezier(0.5, 0, 0.25, 1) 0s 1 normal forwards running zoom-out;
  --scale-ratio: 1;
}

@keyframes zoom-in {
  0% {
    width: var(--initial-w);
    height: var(--initial-h);
    transform: translate(var(--translate-in));
    background-color: transparent;
  }
  100% {
    transform: unset;
    width: auto;
    height: auto;
    background-color: var(--img-bg);
  }
}
@keyframes zoom-out {
  0% {
    transform: translate(0px, 0px);
    background-color: var(--img-bg);
  }
  100% {
    -o-object-fit: unset;
    object-fit: unset;
    width: var(--initial-w);
    height: var(--initial-h);
    min-width: var(--initial-w);
    min-height: var(--initial-h);
    max-width: var(--initial-w);
    max-height: var(--initial-h);
    transform: translate(var(--translate-in));
    background-color: transparent;
  }
}
