body[data-scroll="active"] * *,
.thumb:active {
  cursor: grabbing;
  user-select: none;
}
.thumb {
  position: absolute;
  transition-property: background-color, width, transform, right, bottom;
  transition-duration: 300ms;
  z-index: 9999;
  cursor: grab;
}
.scroll-area-content::-webkit-scrollbar {
  display: none;
}
.scroll-area-content::-webkit-scrollbar-track {
  background: #0000;
  display: none;
}
.scroll-area-content::-webkit-scrollbar-thumb {
  background: #0000;
  display: none;
}
/* For browsers that support `scrollbar-*` properties */
@supports (scrollbar-color: auto) {
  .scroll-area-content {
    scrollbar-color: #0000 #0000;
  }
  .scroll-area-content::-webkit-scrollbar {
    display: none;
  }
  .scroll-area-content::-webkit-scrollbar-track {
    background: #0000;
    display: none;
  }
  .scroll-area-content::-webkit-scrollbar-thumb {
    background: #0000;
    display: none;
  }
}

/* Otherwise, use `::-webkit-scrollbar-*` pseudo-elements */
@supports selector(::-webkit-scrollbar) {
  .scroll-area-content::-webkit-scrollbar {
    display: none;
  }
  .scroll-area-content::-webkit-scrollbar-track {
    background: #0000;
    display: none;
  }
  .scroll-area-content::-webkit-scrollbar-thumb {
    background: #0000;
    display: none;
  }
}
