[data-origin="root"] [data-origin="arrow-trigger"] {
  position: relative;
  margin-left: var(--ml-arrow-trigger, auto);
  transition: transform 180ms cubic-bezier(0.4, 0, 0.2, 1);
  color: hsl(var(--color) / 0.7);
  width: var(--sz-icon-trigger-collapse, var(--sz-icon-trigger-collapse-pop));
  min-width: var(--sz-icon-trigger-collapse, var(--sz-icon-trigger-collapse-pop));
  max-width: var(--sz-icon-trigger-collapse, var(--sz-icon-trigger-collapse-pop));
  height: var(--sz-icon-trigger-collapse, var(--sz-icon-trigger-collapse-pop));
  min-height: var(--sz-icon-trigger-collapse, var(--sz-icon-trigger-collapse-pop));
  max-height: var(--sz-icon-trigger-collapse, var(--sz-icon-trigger-collapse-pop));
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x))
    skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --sz-icon-trigger-collapse-pop: 20px;
}

[data-origin="root"][data-side="top"] [data-origin="arrow-trigger"] {
  --tw-rotate: -180deg;
}
[data-origin="root"][data-side="top"][data-state="open"] [data-origin="arrow-trigger"] {
  --tw-rotate: 0deg;
}
[data-origin="root"][data-side="right"] [data-origin="arrow-trigger"] {
  --tw-rotate: 90deg;
}
[data-origin="root"][data-side="right"][data-state="open"] [data-origin="arrow-trigger"] {
  --tw-rotate: -90deg;
}
[data-origin="root"][data-side="bottom"] [data-origin="arrow-trigger"] {
  --tw-rotate: 0deg;
}
[data-origin="root"][data-side="bottom"][data-state="open"] [data-origin="arrow-trigger"] {
  --tw-rotate: -180deg;
}
[data-origin="root"][data-side="left"] [data-origin="arrow-trigger"] {
  --tw-rotate: -90deg;
}
[data-origin="root"][data-side="left"][data-state="open"] [data-origin="arrow-trigger"] {
  --tw-rotate: 90deg;
}
