.root {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: inherit;
  padding-block-start: var(--spotlight-root-pt, var(--spotlight-root-py, var(--spotlight-root-p, unset)));
  padding-block-end: var(--spotlight-root-pb, var(--spotlight-root-py, var(--spotlight-root-p, unset)));
  padding-inline-start: var(--spotlight-root-pl, var(--spotlight-root-px, var(--spotlight-root-p, unset)));
  padding-inline-end: var(--spotlight-root-pr, var(--spotlight-root-px, var(--spotlight-root-p, unset)));
}

.i {
  width: 100%;
  min-height: 40px;
  display: flex;
  align-items: center;
  padding-block: 6px;
  padding-left: 38px;
  background-color: var(--input-bg, hsl(var(--background)));
  font-size: 15px;
  color: var(--input-cl, hsl(var(--color)));
  font-weight: 500;
  border-radius: var(--radius, 8px);
  box-sizing: border-box;
  position: relative;
  border: none;
  outline: 1px solid var(--input-ol);
}

.actionsList {
  padding-top: 1rem;
  padding-bottom: 2.5rem;
  max-height: inherit;
  overflow-y: auto;
  padding-block-start: var(--spotlight-actionslist-pt, var(--spotlight_action_pt));
  padding-block-end: var(--spotlight-actionslist-pb, var(--spotlight_action_pb));
  padding-inline-start: var(--spotlight-actionslist-pl, var(--spotlight_action_pl));
  padding-inline-end: var(--spotlight-actionslist-pr, var(--spotlight_action_pr));

  --spotlight_action_pt: var(--spotlight-actionslist-py, var(--spotlight-actionslist-p, unset));
  --spotlight_action_pb: var(--spotlight-actionslist-py, var(--spotlight-actionslist-p, unset));
  --spotlight_action_pl: var(--spotlight-actionslist-px, var(--spotlight-actionslist-p, unset));
  --spotlight_action_pr: var(--spotlight-actionslist-px, var(--spotlight-actionslist-p, unset));
}
.actionsList > :not([hidden]) ~ :not([hidden]) {
  --space-y-reverse: 0;
  margin-top: calc(0rem * calc(1 - var(--space-y-reverse)));
  margin-bottom: calc(0rem * var(--space-y-reverse));
}

.action {
  gap: 12px;
  padding: 6px;
  border-bottom-width: 1px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: row;
  position: var(--search-action, relative);

  border-top-left-radius: calc(var(--radius, 8px) - 2px);
  border-top-right-radius: calc(var(--radius, 8px) - 2px);
  border-bottom-right-radius: calc(var(--radius, 8px) * 0px);
  border-bottom-left-radius: calc(var(--radius, 8px) * 0px);

  width: 100%;
  min-width: 100%;
  max-width: 100%;

  font-weight: 500;

  background-color: var(--_action-bg, transparent);
  color: var(--_action-color, inherit);
  text-align: var(--_action-text-align, left);
}
.action:last-child {
  border-bottom: none;
}

.action:not([data-selected]):hover {
  --_action-bg: var(--action-bg-hover);
}

.action[data-selected] {
  --_action-bg: var(--primary-color-filled);
  --_action-color: var(--color-white);
  --_action-description-color: var(--color-white);
  --_action-description-opacity: 0.7;
}

.actionDescription {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-flow: column;
}
.actionDescription > :nth-child(2) {
  display: block;
  font-size: var(--font-size-xs, 12px);
  opacity: var(--_action-description-opacity, 1);
  color: var(--color-dimmed, var(--_action-description-color));
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
}

.content {
  overflow: hidden;
  height: var(--_spotlight-content-height, auto);
  max-height: var(--spotlight-root-max-height);
}

.actionBody {
  flex: 1;
}

.actionSection {
  margin-left: var(--_action-section-ml);
  margin-right: var(--_action-section-mr);
  opacity: var(--_action-section-opacity, 1);
  color: var(--_action-section-color, inherit);
}
.actionSection[data-dimmed] {
  --_action-section-opacity: var(--_action-description-opacity, 1);
  --_action-section-color: var(--_action-description-color, var(--color-dimmed));
}

.actionSection[data-position="left"] {
  --_action-section-mr: var(--spacing-md);
}

.actionSection[data-position="right"] {
  --_action-section-ml: var(--spacing-md);
}

.actionSection > svg {
  display: block;
}

.actionLabel {
  display: block;
}

.footer {
  padding: var(--spacing-xs) calc(var(--spacing-md) + 1px);
  border-top: 1px solid var(--muted-foreground);
}

.actionsGroup {
  display: var(--_display, flex);
  flex-direction: column;
  margin-top: var(--spacing-md);
}
.actionsGroup::before {
  content: var(--spotlight-root-label);
  text-transform: uppercase;
  font-size: var(--font-size-xs);
  font-weight: 700;
  color: var(--color-dimmed);
  padding-left: var(--_actions-group-pl, var(--spacing-md));
  padding-right: var(--_actions-group-pr, 0);
}

.actionsGroup:empty {
  --_display: none;
}
